/*

Template:  Work House - Industry Base HTML Template
Author: vibesweb.com
Version: 1.0
Design and Developed by: vibesweb.com

NOTE: This is main stylesheet of template, This file contains the styling for the actual Template. Please do not change anything here! write in a custom.css file if required!

*/


/*================================================
[  Table of contents  ]
================================================



======================================
[ End table content ]
======================================*/


/*************************
    General
*************************/

/*Main Template Google font*/

/*Template Google font*/
@import url('https://fonts.googleapis.com/css?family=Archivo:400,400i,500,500i,600,600i,700,700i&amp;display=swap|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


body { font-family: 'Archivo', sans-serif; font-weight: normal; font-style: normal; font-size: 14px; }
p{ color: #626262; }
a, .btn  { -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }
a:focus { text-decoration: none !important; }
a:focus, a:hover { color: #3952d0; text-decoration: none !important; }
a, button, input { outline: medium none !important; color: #3952d0; }
h1, h2, h3, h4, h5, h6 { font-family: 'Poppins', sans-serif; font-weight: normal; color: #333; margin-top: 0px; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }

h1 { font-size: 36px; font-style: normal; font-weight: 700; line-height: 40px; }
h2 { font-size: 32px; font-style: normal; font-weight: 700; line-height: 38px; }
h3 { font-size: 28px; font-style: normal; font-weight: 600; line-height: 32px; }
h4 { font-size: 22px; font-style: normal; font-weight: 600; line-height: 26px; }
h5 { font-size: 18px; font-style: normal; font-weight: 600; line-height: 26px; }
h6 { font-size: 16px; font-style: normal; font-weight: 600; line-height: 20px; }


ul { margin: 0px; padding: 0px; }
p { font-weight: normal; line-height: 1.5; color: #626262; }
hr { margin: 0; padding: 0px; border-bottom:1px dashed #eceff8; border-top: 0px; }

*::-moz-selection { background: #3952d0; color: #fff; text-shadow: none; }
::-moz-selection { background: #3952d0; color: #fff; text-shadow: none; }
::selection { background: #3952d0; color: #fff; text-shadow: none; }

/***************************
Page section margin padding
****************************/
.page-section-ptb { padding: 90px 0; }
.page-section-pt { padding: 90px 0 0; }
.page-section-pb { padding: 0 0 90px; }


/*************************
    Text color
*************************/
.white-bg { background: #fff; }
.gray-bg { background: #f7f7f7; }
.dark-gray-bg { background: #666666; }
.theme-bg { background: #3952d0 !important; }
.black-bg { background: #272a2d; }

/*************************
    Text color
*************************/
.theme-color { color: #3952d0; }
.text-white { color: #fff; }
.text-black { color: #363636; }


/*btn-theme*/
.btn.btn-theme{ color: #fff;  background-color: #3952d0; border-color: #3952d0; }
.btn.btn-theme:hover, .btn.btn-theme:focus, .btn.btn-theme:active {   color: #fff;    background-color: #00072b;    border-color: #00072b;}

/*******************************************
             Loading
*******************************************/
#pre-loader { background-color: #ffffff; height: 100%; width: 100%; position: fixed; z-index: 1; margin-top: 0px; top: 0px; left: 0px; bottom: 0px; overflow: hidden !important; right: 0px; z-index: 999999; }
#pre-loader img { text-align: center; left: 0; position: absolute; right: 0; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); z-index: 99; margin: 0 auto; }

/*************************
    back to top
*************************/
#back-to-top .top { z-index: 9999999999; position: fixed; margin: 0px; color: #fff; transition:all .5s ease-in-out; position:fixed; bottom:105px; right:15px; border-radius: 3px; z-index: 999; background: transparent; font-size: 14px; background: #3952d0; width: 40px; height: 40px; text-align: center; }
#back-to-top i { padding-top: 4px; font-size: 16px; display: block; }
#back-to-top span { display: block; line-height: 11px; font-size: 11px; }


.bg-holder { background-size: cover; background-position: center center; }

/*************************
   header
*************************/
.header-item { padding: 0 10px }
.header-item a { display: block; color: #363636; text-align: center; margin-top: 20px; font-weight: 600; }
.header-item a:hover { color: #3952d0; }

/*************************
    intro
*************************/
.parallax-banner { width: 100%; height: 100vh; overflow: hidden; position: relative; background-repeat: no-repeat; background-size: contain; }
.parallax-banner .scene { padding: 0; margin: 0; height: 100%; }
.parallax-banner .banner-content {  }
.parallax-banner .banner-content h1 { display: block; margin-bottom: 15px; line-height: 55px; font-weight: 600; }
.parallax-banner .banner-content  strong { font-weight: 700; position: relative; }
.parallax-banner .layer:nth-child(1) { position: absolute; left: 0; top: 0; }
.parallax-banner .layer:nth-child(2) { position: absolute; top: 24%; left: 16%; }
.parallax-banner .layer:nth-child(3) {  position: absolute; width: 100%; text-align: center; top: 10px; z-index:9999; }
.parallax-banner .layer:nth-child(4) { position: absolute; bottom: 0; left: 0;  z-index:99; }
.parallax-banner .layer:nth-child(5) { position: absolute; right: -6%; top: 0px;  z-index:99; }
.parallax-banner .layer:nth-child(6) { position: absolute; bottom: 0%; right: -3%;  z-index:99; }
.parallax-banner .layer:nth-child(7) { position: absolute; bottom: -100px; left: 0; right: 0; z-index: 999; }
.parallax-banner .layer:nth-child(8) { position: absolute; bottom: -20px; left: 0; right: 0; z-index: -1; }
.parallax-banner .layer:nth-child(9) { position: absolute; bottom: 120px; left: 0; right: 0; z-index: -1; }


.round-icon {
  animation: rotation-x 88s infinite linear;
}

@keyframes rotation-x {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.round-icon-02 {
  animation: rotation-y 88s infinite linear;
}

@keyframes rotation-y {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

/*************************
    portfolio
*************************/
.portfolio-item { padding: 0 20px; }
.portfolio-item .portfolio-image { box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);  transition: all 0.3s ease-in-out; }
.portfolio-item a { font-size: 16px; font-weight: 600; display: block;  }
.portfolio-item .page-name { font-size: 16px; font-weight: 600; display: block; margin-top: 20px; color: #363636; }
.portfolio-item .page-name:hover { color: #3952d0; }
.portfolio-item:hover .portfolio-image { box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1); -webkit-transform: translateY(-5px); -moz-transform: translateY(-5px); transform: translateY(-5px);}

/*************************
        main-feature
*************************/
.main-feature { display: flex; align-items: center; box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1); border-radius: 5px;  }
.main-feature span { font-weight: 500; }

@media (min-width: 1500px){
  .container {
      max-width: 1440px;
  }
}

@media (max-width: 1500px){
.parallax-banner .layer > img.img-fluid { width: 80%;}
.parallax-banner .layer > img.round-icon, .parallax-banner .layer > img.round-icon-02 { width: inherit;}

.parallax-banner .layer:nth-child(1) { left: 0; top: 0; }
.parallax-banner .layer:nth-child(2) { top: 24%; left: 16%; }
.parallax-banner .layer:nth-child(3) { top: 10px; }
.parallax-banner .layer:nth-child(4) { bottom: 0; left: 0; }
.parallax-banner .layer:nth-child(5) { right: -6%; top: 0px; }
.parallax-banner .layer:nth-child(6) { bottom: 0%; right: -3%; }
.parallax-banner .layer:nth-child(7) { bottom: -300px; }
.parallax-banner .layer:nth-child(8) { bottom: -20px; }
.parallax-banner .layer:nth-child(9) { bottom: 120px; }
}

@media (max-width: 1199px){
.parallax-banner .layer:nth-child(1) { left: 0; top: 0; }
.parallax-banner .layer:nth-child(2) { top: 24%; left: 16%; }
.parallax-banner .layer:nth-child(3) { top: 10px; }
.parallax-banner .layer:nth-child(4) { bottom: 0; left: -6%; }
.parallax-banner .layer:nth-child(5) { right: -20%; top: 0px; }
.parallax-banner .layer:nth-child(6) { bottom: 0%; right: -3%; }
.parallax-banner .layer:nth-child(7) { bottom: -300px; }
.parallax-banner .layer:nth-child(8) { bottom: -220px; }
.parallax-banner .layer:nth-child(9) { bottom: -120px; }
}


@media (max-width: 991px){
.parallax-banner  { height: 100%; padding-bottom: 40px; }
.parallax-banner .layer:nth-child(3) { position: relative; }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
 .container { width: 94%; }
}


@media (max-width: 768px) {
.page-section-ptb { padding: 50px 0; }
.page-section-pt { padding: 50px 0 0; }
.page-section-pb { padding: 0 0 50px; }
.parallax-banner .banner-content h1 { font-size: 28px; line-height: 30px; }
}
